# Archivos de caché y logs
*.log
*.pyc
__pycache__/
*.cache
.pytest_cache/

# Archivos estáticos y medios generados por Django
/staticfiles/
/media/

# Archivos de cobertura
.coverage
htmlcov/

# Archivos de distribución y paquetes
dist/
build/
*.egg-info/
*.egg

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de Docker
docker-compose.override.yml
docker-compose.prod.yml

# Archivos de Python
*.py[cod]
*$py.class

# Archivos de VS Code
.vscode/

#variables de entorno
.env